%grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

%button {
  width: 32%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 14px "Arial";
  color: #efefee;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;

  &:active {
    transform: translateY(2px);
  }

  @media (max-width: 768px) {
    width: 32%;
  }

  @media (max-width: 425px) {
    width: 49%;
  }
}

@mixin background($background) {
  @for $i from 1 through 6 {
    &:nth-child(6n + #{$i}) {
      background-color: darken($background, $i * 5%);
    }
  }
}

body {
  margin: 0;
  background: url("assets/images/wallpaper.jpg") 50% 50% no-repeat;

  * {
    box-sizing: border-box;
  }
}

article {
  color: #444444;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 960px;
  margin: auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  background: rgba(#fff, .5);
  backdrop-filter: blur(5px);

  &__placements,
  &__types,
  &__controls {
    @extend %grid;
    margin: 0 0 15px;
  }

  &__placements {
    .content-button {
      @include background(#d32f2f);
    }
  }

  &__types {
    .content-button {
      @include background(#00796b);
      width: 23.5%;
    }
  }

  &__controls {
    margin: 0;

    .content-button {
      @include background(#00796b);
      width: 49%;
    }
  }

  .content-button {
    @extend %button;
  }

  @media (max-width: 960px) {
    width: 100%;

    &__controls {
      margin: 0 0 5px;
    }
  }

  @media (max-width: 960px) {
    &__placements,
    &__types,
    &__controls {
      .content-button {
        width: 49%;
      }
    }

    &__placements {
      .content-button {
        &:nth-last-child(1) {
          margin: 5px 0 0;
          width: 100%;
        }
      }
    }

    &__types {
      .content-button {
        &:nth-last-child(1),
        &:nth-last-child(2) {
          margin: 5px 0 0;
        }
      }
    }
  }
}

.notify-content {
  &__description {
    display: flex;
    flex-direction: column;

    strong {
      margin: 0 0 5px;
    }
  }
}
